
<!doctype html>
<html>
	<head>
		<title>Swag</title>

		<!-- jQuery -->
		<script src="/static/libs/jquery-1.11.2.min.js"></script>

		<!-- Marionette -->
		<script src="/static/libs/backbone.marionette/underscore.js"></script>
		<script src="/static/libs/backbone.marionette/json2.js"></script>
		<script src="/static/libs/backbone.marionette/backbone.js"></script>
		<script src="/static/libs/backbone.marionette/backbone.marionette.min.js"></script>
		<!--<script src="/static/libs/backbone.marionette/backbone.marionette.min.js.map"></script> -->

		<!-- Bootstrap -->
		<script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css" />

	</head>
	<body>
		<!-- Menu bar -->
		<div>
		    <a href="/">{% if session['name']==None %} SWAGCESS {% else %} Welcome {{session['name']}} {% endif %}</a>
		    <ul>
		        <li><a href="/">Home</a></li>
		        {% if session['name']==None %}
		        <li><a href="/login">Login</a></li>
		        {% else %}
		        <li><a href="/logout">Logout</a></li>
		        {% endif %}
		        <li><a href="/register">Register</a></li>
						<li><a href="/blog">Blog</a></li>
				<li><a href="/user">Profile</a></li>
				<li><a href="/contacts">Contacts</a></li>
		    </ul>
		</div>
		<hr> <br>

		<div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul class=flashes>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}

		<!-- Body Content -->
		{% block bodycontent %}
			This is placeholder content in the base template.
		{% endblock bodycontent %}

		<hr>
		<br>
		</div>

	</body>
</html>
