{% extends "base.html" %}

{% block stylecontent %}

html, body {
	height: 100%;
	background-color: #000;
	overflow: hidden;
}
div.justified {
	display: flex;
	justify-content: center;
}
textarea#story {
border: 5px solid #000;
padding: 5px;
font-family: Tahoma, sans-serif;
}
.inp{
border:5px solid #000;
margin: 10px 5px;
}

.node {
cursor: pointer;
}
.overlay{
background-color:#000 }

.node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 1.5px;
}

.node text {
font-size:10px;
font-family:sans-serif;
fill: #fff;
}

.link {
fill: none;
stroke: #ccc;
stroke-width: 1.5px;
}
.templink {
fill: none;
stroke: red;
stroke-width: 3px;
}
.ghostCircle.show{
display:block;
}
.ghostCircle, .activeDrag .ghostCircle{
display: none;
}
.circle {
border-radius: 50%;
width: 200px;
height: 200px;
background-color: blue;
position: relative;
display: inline-block;
}

{% endblock stylecontent %}

{% block navbar %} 

<li>
  {% if session['name']!=None %}
  <a href="{{ url_for('user') }}">{{name}}</a>
  {% endif %}
</li>

<li>
	{% if session['name']==None %}
	<a href="{{ url_for('login') }}">Login</a>
	{% else %}
	<a href="{{ url_for('logout') }}">Logout</a>
	{% endif %}
</li>

{% endblock navbar %} 


{% block headercontent %}
<header style="height: 100%;">
  <div id="main" style="height: 100%;">
    
  </div>

  <div id="test">

  </div>


  <!-- Outer template for edit-mode -->
  <script id="edit-template" type="text/template">
    
    <div style="height: 100%">
      <div id="tree-container" style="height: 60%"></div>

      <div style="height: 4%; background-color: black; color: black;">
		<center>
	  		<div id="title-container" class="inp"></div>
		</center>
      </div>
      
	  <div class="justified" id="text-container" style="height: 36%; color: black;"></div>

	</div>

  </script>

<!-- Template for a single snippet -->
<script id="snippet-template" type="text/template">
<span class="snippet circle">
	<p>
	  <%= title %>
	</p>
  </span>
  <script></script>
</script>


<!-- Outer template for view-mode -->
<script id="view-template" type="text/template">

<br>
<br>
<br>
<br>
<br>
<div style="height: 100%;">
	<p>view-hidden-upper</p>
	<div id="view-hidden-upper" style="height : 0px"></div>
	<p>view-main-upper</p>
  	<div id="view-main-upper" style="height: 200px"></div>
	<p>view-main</p>
  	<div id="view-main"></div>
	<p>view-main-lower</p>
  	<div id="view-main-lower" style="height: 200px"></div>
	<p>view-hidden-lower</p>
  	<div id="view-hidden-lower" style="height : 0px;"></div>
</div>
<br>
<br>
<br>
<br>
<br>
</script>



  <!-- Static Template -->
  <script id="home-template" type="text/template">
    <div class="header-content">
      <div class="col-xs-0 col-sm-2"></div>
      <div class="header-content-iner col-sm-8">
	<div id="storyList" class="rectangle rounded">
	  <form method="POST">
	  <input type="submit" name="submit" value="view stories" class="btn btn-primary btn-xl center">
	  <br><br>
	  </form>
	  <form method="POST">
	  <input type="submit" name="submit" value="edit stories" class="btn btn-primary btn-xl center">
	  </form>
	  <ul></ul>
	</div>
      </div>
      <div class="col-xs-0 col-sm-2"></div>
    </div>
    
  </script>

</header>

{% endblock headercontent %}

{% block includes %}

<!-- Marionette -->
<script src="/static/libs/backbone.marionette/underscore.js"></script>
<script src="/static/libs/backbone.marionette/json2.js"></script>
<script src="/static/libs/backbone.marionette/backbone.js"></script>
<script src="/static/libs/backbone.marionette/backbone.marionette.min.js"></script>

<!-- The source files for the marionette app -->
<script src="../static/home/main.js"></script>
<script src="../static/home/datamanip.js"></script>
<script src="../static/home/dndTree.js"></script>
<script src="../static/home/models/snippet.js"></script>
<script src="../static/home/views/story_view.js"></script>
<script src="../static/home/views/static_view.js"></script>
<script src="../static/home/controllers/main_controller.js"></script>
<script src="../static/home/router.js"></script>
<script src="../static/home/initialize.js"></script>

<!-- The source files for the home page -->
<script src="../static/home.js"></script>

{% endblock includes %}
