{% extends "base.html" %}

{% block stylecontent %}

html, body {
height: 100%;
}
div.justified {
display: flex;
justify-content: center;
}
textarea#story {
border: 5px solid #000;
padding: 5px;
font-family: Tahoma, sans-serif;
}
.inp{
border:5px solid #000;
margin: 10px 5px;
}

.node {
cursor: pointer;
}
.overlay{
background-color:#000 }

.node circle {
fill: #fff;
stroke: steelblue;
stroke-width: 1.5px;
}

.node text {
font-size:10px;
font-family:sans-serif;
fill: #fff;
}

.link {
fill: none;
stroke: #ccc;
stroke-width: 1.5px;
}
.templink {
fill: none;
stroke: red;
stroke-width: 3px;
}
.ghostCircle.show{
display:block;
}
.ghostCircle, .activeDrag .ghostCircle{
display: none;
}
.circle {
border-radius: 50%;
width: 200px;
height: 200px;
background-color: blue;
position: relative;
display: inline-block;
}

{% endblock stylecontent %}

{% block navbar %} 


<li>
	{% if session['name']==None %}
	<a href="{{ url_for('login') }}">Login</a>
	{% else %}
	<a href="{{ url_for('logout') }}">Logout</a>
	{% endif %}
</li>
{% endblock navbar %} 


{% block headercontent %}
<div id="main" style="height: 100%;">


</div>

<div id="test">

</div>


<!-- Template for a single snippet -->
<script id="snippet-template" type="text/template">
<span class="snippet circle">
	<p>
	  <%= title %>
	</p>
  </span>
</script>

<!-- Outer template for view-mode -->
<script id="view-template" type="text/template">

<br>
<br>
<br>
<br>
<br>
<div style="height: 100%;">
	<p>view-hidden-upper</p>
	<div id="view-hidden-upper" style="height: 20%"></div>
	<p>view-main-upper</p>
  	<div id="view-main-upper" style="height: 20%"></div>
	<p>view-main</p>
  	<div id="view-main" style="height: 20%"></div>
	<p>view-main-lower</p>
  	<div id="view-main-lower" style="height: 20%"></div>
	<p>view-hidden-lower</p>
  	<div id="view-hidden-lower" style="height: 20%"></div>
</div>
</script>

<!-- Outer template for edit-mode -->
<script id="edit-template" type="text/template">

<div style="height: 100%">
	<div id="tree-container" style="height: 50%"></div>

	<div style="height: 5%">
	  <center>
	<div id="title-container" class="inp"></div>
	  </center>
	</div>
	<div class="justified" id="text-container" style="height: 35%"></div>

	<center>
	  <button id="rem" type="button" class="btn btn-primary">Delete!</button>
	  <button id="save" type="button" class="btn btn-primary">Save!</button>
	  <button id="add" type="button" class="btn btn-primary">Add Choice!</button>
	</center>

  </div>

</script>


<!-- Static Template -->
<script id="home-template" type="text/template">
<div class="header-content">
	<div class="col-xs-0 col-sm-2"></div>
	<div class="header-content-iner col-sm-8">
	  <div class="rectangle rounded">
	<button type="button" class="btn btn-primary btn-xl center">View Story</button>
	<br><br>
	<button type="button" class="btn btn-primary btn-xl center">Edit Story</button>
	  </div>
	</div>
	<div class="col-xs-0 col-sm-2"></div>
  </div>
</script>

{% endblock headercontent %}
