{% extends "base.html" %}

{% block navbar %} 
{% endblock navbar %} 

{% block headercontent %}


<div class="header-content">
  <div class="col-xs-0 col-sm-2"></div>
  <div class="header-content-inner col-sm-8">
    <div class="rectangle rounded">
      <div class="error">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class=flashes>
	{% for message in messages %}
	{{ message }}
	{% endfor %}
      </div>
      {% endif %}
      {% endwith %}
      </div>

      <h3 class="black-text">Login</h3>
      <form class="form-horizontal center" method = "POST">
	<br>

	<!-- Username -->
	<div class="form-group">
	  <label class="col-sm-4 control-label">Username</label>
	  <div class="col-sm-8">
	    <input type="text" class="form-control" name="username" placeholder="Username">
	  </div>
	</div>


	<!-- Password -->
	<div class="form-group">
	  <label class="col-sm-4 control-label">Password</label>
	  <div class="col-sm-8">
	    <input type="password" class="form-control" name="pw" placeholder="Password">
	  </div>
	</div>

	<!-- SUBMIT -->

	<div class="form-group">
	  <button type="submit" class="btn btn-primary btn-xl center">Login</button>
	</div>

	<div class="black-text">Don't have an account yet? Register <a href="/register">here</a>.
	</div>
    </div>
    </form>
  </div>
  <div class="col-xs-0 col-sm-2"></div>
</div>
<br>

{% endblock headercontent %}
