<!DOCTYPE html>
<html>
	<head>
		<!-- Marionette -->
		<script src="/static/backbone.marionette/backbone.js"></script>
		<script src="/static/backbone.marionette/backbone.marionette.min.js"></script>
		<script src="/static/backbone.marionette/backbone.marionette.min.js.map"></script>
		<script src="/static/backbone.marionette/backbone.wreqr.js"></script>
		<script src="/static/backbone.marionette/underscore.js"></script>
		<script src="/static/backbone.marionette/json2.js"></script>

		<!-- Bootstrap -->
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/bootstrap/js/npm.js"></script>
		<link rel="stylesheet" href="bootstrap-theme.min.css"></script>
		<link rel="stylesheet" href="bootstrap.min.css"></script>
		<link rel="stylesheet" href="bootstrap.css.map"></script>

		<script src="/static/jquery.js"></script>


	</head>
	
	<body>
		
		<form method="POST">


		</form>


	</body>

</html>

